<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
    </head>
    <body>

        <div class="modal-header">
            <button type="button" class="close closeX" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id=""><strong>Zoning Definitions</strong></h2>
        </div><!-- /.modal-header -->

        <div id="" class="legal modal-body">
            <div id="zoneTable">
                <table id="defTable" class="table table-striped">
                    <tr>
                        <th><strong>Zoning District&nbsp;</strong></th>
                        <th><strong>Summary</strong></th>
                    </tr>
                    <tr class="cnt">
                        <td class="cnt"><strong>AG</strong></td>
                        <td>The principal purpose of this zoning district is to conserve and protect
                        Farm/Ranch Uses and other open land uses, foster orderly growth in rural and
                        agricultural areas, and prevent urban and agricultural land use conflicts; but when
                        governmental facilities and services, public utilities and street access are
                        available, or can reasonably be made available, applications for change of this
                        zoning district to a Single-Family residential zoning districts will be given
                        favorable consideration. Principal uses permitted in the zoning district include
                        Farm/Ranch Uses, Farm/Ranch-Related Uses, non-farm residential uses, and
                        recreational and institutional uses.
                        For purposes of the sign regulations set forth in Article VIII and the Home
                        Occupation regulations set forth in Section 16-6-02 , this district shall be
                        considered a residential district. 
                        </td>
                    </tr>
                    <tr class="striped">
                        <td class="cnt"><strong>B-1</strong></td>
                        <td>The purpose of the B-1 Neighborhood Business Zone is to provide for the
                        establishment of local centers for convenient retail or service outlets which deal
                        directly with the consumer for whom the goods or services are intended. These
                        centers are to provide services and goods primarily for the surrounding
                        neighborhood and are not intended to draw customers from the entire community.</td>
                    </tr>
                    <tr>
                        <td class="cnt"><strong>B-2</strong></td>
                        <td>The purpose of the B-2 Community Business Zone is to provide for low intensity,
                        retail or service outlets which deal directly with the consumer for whom the goods
                        or services are intended. The uses allowed in this district are to provide goods
                        and services on a community market scale and located in areas which are served
                        by arterial street facilities. 
                        </td>
                    </tr>
                    <tr class="striped">
                        <td class="cnt"><strong>I-1</strong></td>
                        <td>The purpose of the I-1 Light Industry Zone is to provide for the development of
                        industrial, warehousing, and office facilities in a manner which does not cause
                        adverse off-site environmental Impacts. Uses allowed in the I-l Zone are those
                        whose activities (including storage) take place entirely within enclosed buildings,
                        which have little or no emission of noise, smoke, dust, odor, vibration, or glare,
                        and which pose little or no danger to the public health and safety. 
                        </td>
                    </tr>
                    <tr >
                        <td class="cnt"><strong>I-2</strong></td>
                        <td>The purpose of the I-2 Medium Industry Zone is to provide for the development
                        of industries which, because of the nature of their operation appearance, traffic
                        generation, or emission, would not be compatible with land uses in the Light
                        Industrial Zone (I-1), but which, nevertheless, are necessary and desirable
                        activities in the Town. 
                        </td>
                    </tr>
                    <tr class="striped">
                        <td class="cnt"><strong>I-3</strong></td>
                        <td>The purpose of the I-3 Heavy Industry Zone is to provide for the development of
                        industries and activities which, because of the nature of their operation,
                        appearance, traffic generation, or emission, would not be compatible with land
                        uses in the Medium Industry Zone (I-2), but which, nevertheless, are necessary
                        and desirable activities in the Town. 
                        </td>
                    </tr>
                    <tr>
                        <td class="cnt"><strong>PC</strong></td>
                        <td>As an alternative to conventional zoning and development approaches
                        and processes, the PC procedures and regulations are set forth in order that the
                        public, health, safety, and general welfare be furthered to encourage innovations in
                        residential, commercial, recreational, industrial and other types of development so
                        greater opportunities for better housing, recreation, employment, commercial and
                        industrial uses will be provided; to provide flexibility so that new development may
                        reflect changes in the technology of land development; and to encourage a more
                        creative approach to the utilization of land in order to provide a more efficient,
                        aesthetic, and desirable development product and pattern taking into account special
                        features of the geography, topography, size or shape of a particular property. 
                        </td>
                    </tr>
                    <tr class="striped">
                        <td class="cnt"><strong>R-1</strong></td>
                        <td>The purpose of the R-1 Single-Family Residential Zone is to provide for the
                        Development, at a low density, of Single-Family Detached Dwellings and directly
                        related complementary uses. The zoning district is intended to be strictly
                        residential in character with a minimum of disturbances due to traffic or
                        overcrowding. 
                        </td>
                    </tr>
                    <tr class="">
                        <td class="cnt"><strong>R-2</strong></td>
                        <td>The purpose of the R-2 Duplex Residential Zone is to provide for the
                            development, at a low density, of Single-Family Detached Dwellings, TwoFamily
                            Dwellings and directly related complementary uses. The zoning district is
                            intended to be strictly residential in character with a minimum of disturbances due
                            to traffic or overcrowding. </td>
                    </tr>
                    <tr class="striped">
                        <td class="cnt"><strong>R-3</strong></td>
                        <td>The purpose of the R-3 Manufactured Home Zone is to promote affordable
                            housing and make economical use of the land by allowing the development of
                            manufactured home communities at medium densities. </td>
                    </tr>
                    <tr>
                        <td class="cnt"><strong>R-4</strong></td>
                        <td>The purpose of the R-4 Four-plex Residential Zone is to provide for medium
                            density housing in Multi-Family Dwellings and directly related complementary
                            uses. The R-4 Zone is designed to allow highly economical use of land while
                            creating an attractive, functional and safe residential environment. </td>
                    </tr>
                    <tr class="striped">
                        <td class="cnt"><strong>R-5</strong></td>
                        <td>The purpose of the R-5 Multi-Family Residential Zone is to provide for high
                            density housing in Multi- Family Dwellings and directly related complementary
                            uses. The R-5 Zone is designed to allow highly economical use of land while
                            creating an attractive, functional and safe residential environment. 
                        </td>
                    </tr>
                    <tr>
                        <p>Please reference <a href="http://www.gilabendaz.org/DocumentCenter/Home/View/11">this document</a> for more detail regarding Gila Bend Zoning.
                    </tr>
                </table>
            </div>
        </div><!-- /.modal-body -->
    </body>
</html>